.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}


.todolist {
  border: 1px solid black;
  border-radius: 5px;
  background-color: wheat;
  padding: 15px;
}

.task {
  font-weight: bold;
}

.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

button {
  border-radius: 5px;
}

.btn-active {
  background-color: rgb(166, 144, 238);
  color: white;
  border: 1px solid black;
}

.btn-all {
  background-color: rgb(227, 215, 81);
  border: 1px solid;
}

.btn-completed {
  background-color: lightgreen;
  border: 1px solid;
}

.inputError {
  border: 2px solid red;
  outline: none;
}